body {
	background-color: black;
	background-image: url('/static/patterns/stars.gif');
	color: {% foreground %};
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: 'MegaMan 2 Regular', sans-serif;
	font-weight: 400;
	text-align: center;
	color: {% accent %};
	margin: 0;
	padding: 1ex 0;
}

.opaque h1,
.opaque h2,
.opaque h3,
.opaque h4,
.opaque .subtitle {	
	color: {% foreground %};
}

.region .epicbutton:not(div) {
	background: url('/static/patterns/redbutton.png');
	font-family: 'MegaMan 2 Regular', sans-serif;
	font-size: 24px;
	width: 320px;
	height: 96px;
	line-height: 96px;
	text-align: center;
	vertical-align: middle;
	display: block;
	text-decoration: none;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.region .epicbutton:not(div):hover {
	animation: glowy 0.3s;
	animation-iteration-count: infinite;
	-webkit-animation: glowy 0.3s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes glowy {
	0% { color: white; }
	100% { color: yellow;}
}

@-webkit-keyframes glowy {
	0% { color: white; }
	100% { color: yellow;}
}

a {
	color: lime;
}

h1 { font-size: 24pt; } h2 { font-size: 18pt; } h3 {font-size: 12pt;} h4 {font-size: 12pt;}

p, form, table, .blok, .regel, ul {
	max-width: 60em;
	margin: 0 1cm 4ex 1cm;
	padding: 0;
}

.drop {
	position: fixed;
	right: 0;
	top: 0;
	min-height: 100%;	
	width: 100%;	
}

.agree input {
	width: auto;
}

.agree .error {
	float: none;
	color: lime;
}

.flat.drop {
	background-image: url('/static/patterns/flag.gif');
	background-repeat: repeat-y;
	background-position: right;
}

.sky.drop {	
	background-image: url('/static/patterns/skyline.gif');
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: bottom;
}

.region {
	position: relative;
	padding-bottom: 4ex;
}

.region + .region {
	padding-top: 4ex;
}

.region + .opaque.region {
	padding-top: 5ex;
}


.region>*:not(div) {
	position: relative;
	z-index: 10;
	margin-left: 8px;
	margin-right: 8px;
}

@media (min-width: 900px) {
	.region>*:not(div) {			
		padding-left: 1cm;
		padding-right: 1cm;
	}
}



.footer.region {
	padding-bottom: 60px;
	margin-bottom: 0;
	margin-top: 8ex;
}

.head ~ .footer.region {
	top: 0;
}

.head p.subtitle { 
	position: relative;
	top: 3ex;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 + p.subtitle {
	padding-top: 0;
}

p.subtitle {
	font-family: 'MegaMan 2 Regular', serif;
	padding-top: 3ex;
	margin-bottom: 1ex;
}

.head p.subtitle {	
	padding-top: 0;
}

.head p.subtitle a {
	text-decoration: none;
	color: lime;
}

.region ul {
	list-style-type: none;
}

.region ul li {
	line-height: 150%;
	vertical-align: middle;
}

.region ul li:before {
	vertical-align: bottom;
	font-family: 'MegaMan 2 Regular', serif;
	content: '> ';
	color: red;
}

.region .backdrop {
	position: absolute;
	z-index: 0;
	right: 0;
	opacity: 0.5;
	padding: 0;
}

.region .logo {
	width: 70%;
	padding: 0 15% 0;
	position: relative;
	top: 5ex;
}

.head ~ .region {
	top: -5ex;
	padding-top: 2ex;
}

.opaque.region {
	background: rgba(0,0,0,0.9);

}

.half img {
	margin-left: auto;
	margin-right: auto;
	width: 60%;	
	display: block;
	padding: 4ex 0;

}

a img {
	border: none;
}

@media(min-width: 900px) {
	.half {
		float: left;
		width: 50%;
	}

	.half img {
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

	.reverse.half {
		float: right;
	}
}

.region:after {
	content: '.';
	font-size: 0;
	display: block;
	clear: both;
}

table {
	border-style: solid;
}

.currency {
	text-align: right;
}

.regel  {
	display: block;
	max-width: 60em;
	margin: 4ex auto 0;
	text-align: center;
}

.regel + .regel {
	margin-top: 0;
}

label {
	display: block;
}

input, textarea {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 14pt;
	background: black;
	color: #0ff;
	border: solid 5px #055;
	padding: 5px;
}

input#agree { display: inline; margin-left: 1em; }


input:not(#agree) + .error {
	position: relative;
	top: -7ex;
}

@media(min-width: 900px) {
	input, textarea {
		width: 60%;
		display: inline;
	}

	.error {
		top: 0;
	}
}

input:hover {
	border: solid 5px #099;
}

input:focus {
	border: solid 5px #0ff;
}

.goahead {
	clear: both;

	padding-top: 4ex;
}

.goahead .option {
	margin-top: 4ex;
}

.goahead input:not(.option) {
	width: auto;
}

.product input.option {
	background: none;
	border: solid 1px {% accent %};
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	z-index: 20;
}

.product input.option:hover {
	background: rgba(0,255,255,0.2);
	animation: glow 0.1s;
	-webkit-animation: glow 0.1s;
}

@keyframes glow {
	from { background: none; }
	to { background: rgba(0,255,255,0.2); }
}

@-webkit-keyframes glow {
	from { background: none; }
	to { background: rgba(0,255,255,0.2); }
}

.product {
	margin-bottom: 0;
	margin-top: 0;
}

.product + .product input.option {
	border-top: 0;
}

.option {
	width: calc(100% - 20px);
}

.submit {
	width: 30%;
	margin: 10px auto;
	float: right;
}

.error {
	float: right;
	padding: 10px 0;
}

.subtitle {
	font-size: 100%;
	text-align: center;
	color: {% accent %};
}

@media(min-width: 900px) {
	.subtitle {
		font-size: 130%;
	}	
}

.subtitle a {
	color: #0f0;
	animation: pulse 0.9s;
	animation-iteration-count: infinite;
	-webkit-animation: pulse 0.9s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% { color: #0ff; }
	50% { color: #0f0;}
	100% { color: #0ff; }
}

@-webkit-keyframes pulse {
	0% { color: #0ff; }
	50% { color: #0f0;}
	100% { color: #0ff; }
}

.navigation {
	position: relative;
	z-index: 10;
	text-align: center;
	line-height: 200%;
	z-index: 20;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 3px #5c5c5c;	
	width: 180px;
	background: url('/static/patterns/flufflybar.png');
}

@media (min-width: 360px) {
	.navigation {
		width: 360px;
	}
}

.navigation:after {
	content: '.';
	display: block;
	font-size: 0;
	clear: both;
	width: 0;
	height: 0;	
}

@media (min-width: 900px) {
	.navigation {			
		left: 0;
		right: 0;
		bottom: 0;
		width: 900px;	
		position: fixed;
		height: 60px;
		border: solid 3px #5c5c5c;
		border-bottom: none;
	}
}

.navigation a {
	color: yellow;
	text-decoration: none;
}

.navigation a.logo {
	background: #7c7c7c;
	color: #900;
	width: 156px;
	animation: logo 0.6s;
	animation-iteration-count: infinite;
	-webkit-animation: logo 0.6s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes logo {
	0% { color: #f00; }
	25% { color: #d00; }
	50% { color: #f00; }
	100% { color: #f00; }
}

@-webkit-keyframes logo {
	0% { color: #f00; }
	25% { color: #d00; }
	50% { color: #f00; }
	100% { color: #f00; }
}

.navigation a.logo:before {
	content: ' ';
	font-size: 0;
	display: block;
	position: absolute;
	top: -3px;
	left: -3px;
	width: 100%;
	height: 100%;
	pointer-events: none;	
	border: 3px solid #9c9c9c;
	border-bottom: none;
	border-right: none;
}

.navigation a {
	position: relative;
	float: left;
	line-height: 36px;
	vertical-align: middle;
	width: 156px;
	display: block;
	font-family: 'MegaMan 2 Regular', serif;
	margin: 9px;
	font-size: 20px;
	background-color: black;
	border: 3px solid #5c5c5c;
}

.navigation a.critical:not(.fucking) {
	background-color: #500;
	animation: crit 0.6s;
	animation-iteration-count: infinite;
	-webkit-animation: crit 0.6s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes crit {
	0% { background-color: #500; }
	50% { background-color: black; }
	100% { background-color: #500; }
}

@-webkit-keyframes crit {
	0% { background-color: #500; }
	50% { background-color: black; }
	100% { background-color: #500; }
}

.navigation a.extra.critical:not(.fucking) {
	background-color: #800;
	animation: ecrit 0.3s;
	animation-iteration-count: infinite;
	-webkit-animation: ecrit 0.3s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes ecrit {
	0% { color: #800; }
	50% { color: red; }
	100% { color: #800; }
}

@-webkit-keyframes ecrit {
	0% { color: #800; }
	50% { color: red; }
	100% { color: #800; }
}

.navigation a.extra.fucking.critical {
	background-color: #333;
	color: #888;
}

.footer {
	position: relative;
	border: solid 3px #5c5c5c;
	border-bottom: none;
	background: gray;
	z-index: 15;
}

@media(min-width: 900px) {
	.footer {			
		position: fixed;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0px;
	}

	.navigation:hover ~ .footer {
		animation: popup 0.4s;
		-webkit-animation: popup 0.4s;
		bottom: 60px;
	}

	.footer:hover {
		bottom: 60px;
	}

	@keyframes popup {
		0% { bottom: 0px; }	
		100% { bottom: 60px; }
	}

	@-webkit-keyframes popup {
		0% { bottom: 0px; }	
		100% { bottom: 60px; }
	}	
}

.footer p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.cancel {
	text-align: center;
}

.cancel label {
	display: inline;
}

.cancel input {
	width: auto;
}

.finished + .abort {
	display: none;
}

.abort.region {
	margin-bottom: 1cm;
}