/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"MegaMan 2 Regular";
	src: 
		url("megaman_2.eot") format("eot"), 
		url("megaman_2.woff") format("woff"),
		url("megaman_2.ttf") format("truetype"),
		url("megaman_2.svg#MegaMan-2") format("svg");
		font-weight:normal;font-style:normal;
}